@tailwind base;

@tailwind components;

@tailwind utilities;


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* WhatsApp Logo */

.whatsapp-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-icon:hover {
  text-decoration: underline;
  background-color: #26b45a;
  color: #fff;
}

.loader {
  width: 250px;
  height: 250px;
}
